<!DOCTYPE html>
<html>
  <head>
    <title>注册</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>用户注册</h1>
    <form action="/users/registerUser" method="post">
        <p><input type="text" name="userName" placeholder="用户名"/></p>
        <p><input type="password" name="password" placeholder="密码"/></p>
        <p><button type="submit"/>注册</p>
    </form>
  </body>
</html>
